:root {
  --garish-text-colour: #0028ff;
  --text-colour: #000;
  --link-colour:  #ff2800;
  --background-colour: #fff;
}

/* newsreader-regular - latin */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/css/Newsreader/newsreader-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/css/Newsreader/newsreader-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* newsreader-800 - latin */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('/css/Newsreader/newsreader-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/css/Newsreader/newsreader-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* newsreader-italic - latin */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/css/Newsreader/newsreader-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/css/Newsreader/newsreader-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 1rem;
  display:grid;

  font-family: 'Newsreader';
  color: var(--text-colour);
}

hr{
	border:none;
	border-bottom: solid 1px var(--text-colour);
}
img{
  width:100%;
}

h1, h2, h3 {
  font-family: 'Helvetica',sans-serif;
  margin-bottom: .5rem;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.25rem;
}

h2, h3 {
  font-size: 1.5rem;
}


article, header, footer {
  max-width: 640px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
}

a{
  color: var(--text-colour);
  text-decoration: none;
  border-bottom: 1px solid var(--link-colour);
}

a:hover{
  color: var(--link-colour);
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

button{
  cursor: pointer;
  user-select: none;
}

.archived{
  color: #666;
}