body{
	font-family: sans-serif;
}

p{
	line-height: 1.4rem;
}
h3{
	border:none;
	border-bottom: solid 1px var(--text-colour);
}
.content img{
	float:left;
}

.footer{
	border-top: 1px dotted #999;
	padding-top: 1rem;
}

.global-nav{
	border-bottom: 1px dotted #999;
	padding-bottom: 1rem;
}

.everything{
	max-width: 600px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
}

.posts{
	text-align: center;
}

.meta-data{
	text-align: center;
}

section{
	padding: 0px 10px 20px 10px;
}
