  <div class='footer'>
  	<div class='meta-data'>
        {{ page.date | date: "%Y &middot; %m &middot; %d" }}
      </div>

  	<div class='posts'>
    {% for post in site.posts %}
      <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>
    {% endfor %}
	</div>
      
  </div>
</div> <!-- everything -->
</body>
<script src="/scripts/d3.v3.min.js" charset="utf-8"></script>
<script src="/scripts/zepto.js" charset="utf-8"></script>
<script type="text/javascript">
	var width;
	Zepto(function($){
		//replace all h1s in wide-heading divs with SVG text
		$('.wide-heading').each(function(){
			//get the text title
			//add the SVG
			//add the text element
			//work out the width of the text element
			//work pout the scsale factor and scale the text element
			//get the height of the text element
			//set the height of the SVG
			//set the position of the text element
		})

		//console.log('tw' + text.node().getComputedTextLength())

	})
	

</script>