<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head><title>Tom Pearson &mdash; {{ page.title }}</title></head>
<link rel="stylesheet" type="text/css" href="//www.toffeemilkshake.co.uk/tgp-ui-styles/ui-style.css">
<body>
<div class="everything">
	<div class="global-nav">
		<a href="/" class="home-link">home</a> &middot;
		<a href="http://www.twitter.com/tomp">twitter</a> &middot;
		<a href="http://blog.toffeemilkshake.co.uk">tumblr</a> &middot;
		<a href="https://github.com/tomgp">github</a>  &middot;
		<a href="http://bl.ocks.org/tomgp">bl.ocks</a>
	</div>
	<hr>