{% include header.html %}

<h1>Tom Pearson</h1>
<p class="subhead">
  Maps, charts &amp; visual explanations
</p>
<a href="http://blog.toffeemilkshake.co.uk">Tumblr</a>
<hr>
{% for post in site.posts %}
<section class="{{ post.layout }}" data-location="{{ post.csv }}" data-decorator="{{ post.decorator }}">
  {% if post.layout != "svg" %}<h4>{{ post.title }}</h4>{% endif %}

  	{% if post.layout == "data" %}
    	<div class="loading-text">{{ post.content }}</div>
  	{% elsif post.layout == "quotation" %}
  	<blockquote>
  		{{post.content}}
  	</blockquote>
  	&mdash; {{post.attribution}}
    {% elsif post.layout == "link" %}
        {{ post.content }}
        <a href="{{ post.link }}">{{ post.linktext }}</a>
  	{% else %}
  	   {{ post.content }}
  	{% endif %}
</section>
{% endfor %}

{% include footer.html %}
